.site-body{
    background: #e2e2f2;
    height: 100vh;
    width: auto;
}
.site-buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    color: #fff;
    width: 100vw;
}

.site-buttons a {
    display: flex;
    flex-direction: column;
}

.button-text {
    margin-top: .5rem;
}

.button-container {
    width: 15rem;
    height: 15rem;
}