<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Page Category</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <div>
        <special-header></special-header>
        <div class="flex px-8 align-middle"> 
            <button class="mx-5 mr-4 pl-3 relative w-12 h-12">
                <img src="../assets/img/realBack.png" class="w-6 h-6">
                <span class="absolute inset-0 flex items-center justify-center rounded-full bg-transparent hover:bg-black hover:bg-opacity-25 transition-all">
                </span>
              </button>
            <h1 class="px-4 pt-1 text-3xl align-middle font-bold">Back</h1>
        </div>
        <div class="flex justify-center mt-16 p-10">
            <h1 class="text-4xl tracking-wide font-bold">How would you like to add a patient's medical record?</h1>
        </div>

        <div class="flex justify-evenly mt-10 p-10">
            <div class="bg-gradient-to-b from-blue-900 to-black  hover:from-black hover:to-blue-900 rounded-2xl w-80 h-80 flex items-center justify-center">
                <button class="p-2 flex flex-col items-center justify-center">
                    <img src="../assets/img/single-record-icon.png" class="h-36 w-30 mb-10">
                    <h3 class="text-white text-4xl">Single record</h3>
                </button>
            </div>
            
            <div class="bg-gradient-to-b from-blue-900 to-black hover:from-black hover:to-blue-900 rounded-2xl w-80 h-80 flex items-center justify-center">
                <button class="p-2 flex flex-col items-center justify-center">
                    <img src="../assets/img/bulk-record-icon.png" class="h-36 w-30 mb-10">
                    <h3 class="text-white text-4xl">Bulk record</h3>
                </button>
            </div>

        </div>
    </div>
    <special-footer></special-footer>
    <script src="./templateManager.js"></script>


    
</body>
</html>