<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CEU Health - Categories</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <special-header></special-header>
  <h1 class="flex justify-center font-semibold text-6xl p-20 m-20">Choose a Patient Category</h1>
  <div class="flex justify-evenly"> 
    <special-button id="employeeButton" icon="../assets/img/employee-icon.png"
      text="Employee"></special-button>
    <special-button id="studentButton" icon="../assets/img/student-icon.png"
      text="Student"></special-button>
  </div>
  
  <special-footer></special-footer>
  <script src="../assets/js/Categories.js"></script>
  <script>
    const employeeButton = document.getElementById('employeeButton');
    const studentButton = document.getElementById('studentButton');

    employeeButton.setIconSize("32");
    studentButton.setIconSize("32");
  </script>
</body>

</html>