<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CEU Health - Homepage</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-cover bg-center h-screen" style="background-image: linear-gradient(to bottom, transparent, white), url('../assets/img/homepage-bg.png');">
  <special-header></special-header>
  <h1 class="flex justify-center font-semibold text-6xl p-20 m-20">Welcome, Dentist!</h1>
  <div class="flex justify-evenly">
    <special-button id="addDentalButton" icon="../assets/img/add-dental-records-icon.png"
      text="Add Dental Records" link="categories.html"></special-button>
    <special-button id="viewPatientButton" icon="../assets/img/view-patient-records-icon.png"
      text="View Patient Records" link="categories.html"></special-button>
    <special-button id="viewLogsButton" icon="../assets/img/view-logs-icon.png"
      text="View Patient History Logs"></special-button>
  </div>
  <special-footer></special-footer>
  <script src="../assets/js/Template.js"></script>
  <script>
    const addDentalButton = document.getElementById('addDentalButton');
    const viewPatientButton = document.getElementById('viewPatientButton');
    const viewLogsButton = document.getElementById('viewLogsButton');

    addDentalButton.setIconSize("16");
    viewPatientButton.setIconSize("");
    viewLogsButton.setIconSize("16");
  </script>
</body>

</html>