<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Single Record (Student)</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body class="w-screen h-screen flex flex-col">
    <div class="flex-grow">
        <special-header></special-header>
        <div class="flex px-8 items-center">
            <button class="mx-5 mr-4 pl-3 relative w-12 h-12">
                <img src="../assets/img/realBack.png" class="w-6 h-6">
                <span class="absolute inset-0 flex items-center justify-center rounded-full bg-transparent hover:bg-black hover:bg-opacity-25 transition-all"></span>
            </button>
            <h1 class="px-4 pt-1 text-3xl font-bold">Add Medical Record (Student)</h1>
        </div>
        <div class="mt-6 border-b border-gray-200 w-auto h-auto dark:border-neutral-700 shadow-xl ">
            <nav class="-mb-0.5 flex justify-evenly mx-2 space-x-4 md:space-x-8" aria-label="Tabs" role="tablist">
                <button id="personalTab" data-tab="personal" class="tab-button py-4 px-2 md:px-4 flex flex-col items-center gap-x-1 text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-blue-500 active" role="tab" aria-selected="true" aria-controls="personalInfoContent">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none">
                        <path  d="M12.12 12.78C12.05 12.77 11.96 12.77 11.88 12.78C10.12 12.72 8.71997 11.28 8.71997 9.50998C8.71997 7.69998 10.18 6.22998 12 6.22998C13.81 6.22998 15.28 7.69998 15.28 9.50998C15.27 11.28 13.88 12.72 12.12 12.78Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path  d="M18.74 19.3801C16.96 21.0101 14.6 22.0001 12 22.0001C9.40001 22.0001 7.04001 21.0101 5.26001 19.3801C5.36001 18.4401 5.96001 17.5201 7.03001 16.8001C9.77001 14.9801 14.25 14.9801 16.97 16.8001C18.04 17.5201 18.64 18.4401 18.74 19.3801Z" stroke="#00E7F0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    Personal Information
                </button>
                <button id="laboratoryTab" data-tab="laboratory" class="tab-button py-4 px-2 md:px-4 flex flex-col items-center gap-x-1 text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-blue-500" role="tab" aria-selected="false" aria-controls="laboratoryContent">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="30px" width="30px" version="1.1" id="Layer_1" viewBox="0 0 512.001 512.001" xml:space="preserve">
                        <path style="fill:#00E7F0;" d="M240.004,311.169h-76.696H85.517c-12.798,0-23.173,10.375-23.173,23.173s10.375,23.173,23.173,23.173  h51.802h25.989h46.644h30.051c12.798,0,23.173-10.375,23.173-23.173S252.803,311.169,240.004,311.169z"/>
                        <path style="fill:#000000;" d="M441.318,72.329l-16.385-16.385l5.463-5.463c9.05-9.05,9.05-23.721,0-32.771  c-9.048-9.05-23.721-9.05-32.771,0l-5.463,5.463L375.776,6.787c-9.048-9.05-23.72-9.05-32.771,0L190.07,159.719  c-4.346,4.346-6.788,10.241-6.788,16.386c0,6.145,2.441,12.039,6.788,16.386l32.773,32.773l32.771,32.771  c4.525,4.525,10.456,6.787,16.385,6.787c5.931,0,11.861-2.262,16.385-6.787l91.392-91.392l33.173-33.173l28.368-28.37  C450.367,96.051,450.367,81.379,441.318,72.329z"/>
                        <path style="fill:#000000;" d="M449.657,241.649c0-39.641-12.904-77.292-36.709-108.179l-33.173,33.173  c15.277,21.852,23.534,47.787,23.534,75.006c0,72.406-58.907,131.313-131.313,131.313c-22.127,0-43.298-5.395-62.045-15.447h-72.632  c28.778,33.545,68.159,54.739,111.577,60.307v47.833h46.346v-47.867C382.259,406.365,449.657,331.733,449.657,241.649z"/>
                        <g>
                            <path style="fill:#000000;" d="M397.625,17.711l-5.463,5.463L375.776,6.787c-9.048-9.05-23.72-9.05-32.771,0L190.07,159.719   c-4.346,4.346-6.788,10.241-6.788,16.386c0,6.145,2.441,12.039,6.788,16.386l32.773,32.773L430.396,17.711   C421.346,8.661,406.673,8.661,397.625,17.711z"/>
                            <path style="fill:#00E7F0;" d="M133.032,465.655c-12.798,0-23.173,10.375-23.173,23.173c0,12.798,10.375,23.173,23.173,23.173   h139.037h139.039c12.798,0,23.173-10.375,23.173-23.173c0-12.798-10.375-23.173-23.173-23.173H295.242h-46.346H133.032z"/>
                        </g>
                        <path style="fill:#00D7DF;" d="M85.517,311.169c-12.798,0-23.173,10.375-23.173,23.173s10.375,23.173,23.173,23.173h51.802h25.989  v-46.346H85.517z"/>
                        </svg>
                    Laboratory
                </button>
                <button id="vaccinationTab" data-tab="vaccination" class="tab-button py-4 px-2 md:px-4 flex flex-col items-center gap-x-1 text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-blue-500" role="tab" aria-selected="false" aria-controls="vaccinationContent">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="30px" height="30px" viewBox="0 0 24 24" id="syringe-right-2" data-name="Flat Color" class="icon flat-color"><path id="secondary" d="M16.08,8.92a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42l3.92-3.92a1,1,0,1,1,1.42,1.42L16.79,8.63A1,1,0,0,1,16.08,8.92Z" style="fill: rgb(44, 169, 188);"/><path id="primary" d="M18.15,8.68,15.32,5.85a2,2,0,0,0-2.84,0L6.12,12.22a1,1,0,0,0,0,1.42l1.42,1.41L4.71,17.88a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0L9,16.46l1.42,1.43a1,1,0,0,0,1.42,0l6.36-6.37A2,2,0,0,0,18.15,8.68Z" style="fill: rgb(0, 0, 0);"/><path id="secondary-2" data-name="secondary" d="M6.83,21a1,1,0,0,1-.71-.29L3.29,17.88a1,1,0,0,1,1.42-1.42l2.83,2.83a1,1,0,0,1,0,1.42A1,1,0,0,1,6.83,21Zm5.66-2.41a1,1,0,0,0,0-1.42L6.83,11.51a1,1,0,1,0-1.42,1.42l5.66,5.66a1,1,0,0,0,.71.29A1,1,0,0,0,12.49,18.59Z" style="fill: rgb(44, 169, 188);"/></svg>
                    Vaccination
                </button>
                <button id="medicalHistoryTab" data-tab="medicalHistory" class="tab-button py-4 px-2 md:px-4 flex flex-col items-center gap-x-1 text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-blue-500" role="tab" aria-selected="false" aria-controls="medicalHistoryContent">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="30px" height="30px" viewBox="0 0 24 24" id="medical-receipt" data-name="Line Color" class="icon line-color"><path id="primary" d="M15,5h3a1,1,0,0,1,1,1V20a1,1,0,0,1-1,1H6a1,1,0,0,1-1-1V6A1,1,0,0,1,6,5H9" style="fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"/><path id="secondary" d="M12,16V12m2,2H10M15,4a1,1,0,0,0-1-1H10A1,1,0,0,0,9,4V7h6Z" style="fill: none; stroke: rgb(44, 169, 188); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"/></svg>
                    Medical History
                </button>
                <button id="doneTab" data-tab="done" class="tab-button hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-1 flex flex-col items-center gap-x-2 border-b-2 border-transparent text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-blue-500"
                    role="tab" aria-selected="false" aria-controls="doneContent">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H18C19.6569 23 21 21.6569 21 20V4C21 2.34315 19.6569 1 18 1H10ZM11 3H18C18.5523 3 19 3.44772 19 4V20C19 20.5523 18.5523 21 18 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3ZM9 7H6.41421L9 4.41421V7ZM16.7682 12.6402C17.1218 12.2159 17.0645 11.5853 16.6402 11.2318C16.2159 10.8782 15.5853 10.9355 15.2318 11.3598L10.9328 16.5186L8.70711 14.2929C8.31658 13.9024 7.68342 13.9024 7.29289 14.2929C6.90237 14.6834 6.90237 15.3166 7.29289 15.7071L10.2929 18.7071C10.4916 18.9058 10.7646 19.0117 11.0453 18.999C11.326 18.9862 11.5884 18.856 11.7682 18.6402L16.7682 12.6402Z" fill="#000000"/>
                        </svg>
                    Done
                </button>
                
            </nav>
            <div class="w-full bg-gray-300 h-1 relative">
                <div id="progressIndicator" class="h-1 bg-blue-900 absolute top-0 left-0 transition-width duration-300 ease-out" style="width: 25%;"></div>
            </div>
            
        </div>
        
        <div id="container" class="mx-10 my-6 w-auto h-[30rem] bg-white rounded-lg border-2 border-gray-400 overflow-y-auto p-4">
            <!-- Loaded content will appear here -->
        </div>
        <div  id="resetMessage" class="fixed inset-0 bg-black bg-opacity-50 justify-center items-center opacity-0 hidden transition-opacity duration-500">
            <div class="bg-blue-950 rounded-lg shadow-md p-8 max-w-md w-full mx-4 md:w-2/3 lg:w-1/2">
                <h1 class="text-white text-2xl font-semibold">RESET</h1>
                <p class="text-white mt-2 mb-4">Are you sure you want to reset the changes made in this section? Once reset, the action cannot be undone.</p>
                <div class="flex justify-end gap-4">
                    <button onclick="hideResetMessage()" class="border border-white rounded-md mx-2 py-2 px-4 md:px-8 text-lg text-white hover:bg-gray-400">Cancel</button>
                    <button class="bg-blue-400 rounded-md mx-2 py-2 px-4 md:px-8 text-lg font-medium hover:bg-blue-500">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <special-footer></special-footer> -->
    <script>
        function showResetMessage(){
          let resetMessage = document.getElementById('resetMessage')
          resetMessage.classList.remove('hidden')
          resetMessage.classList.add('flex')
          setTimeout(()=>{
            resetMessage.classList.add('opacity-100')
          },20)
  
        }
  
        function hideResetMessage(){
          let resetMessage = document.getElementById('resetMessage')
          resetMessage.classList.add('opacity-0')
          resetMessage.classList.remove('opacity-100')
          setTimeout(()=>{
            resetMessage.classList.add('hidden')
            resetMessage.classList.remove("flex")
          },500)
        }
  
        
      </script>
  
    <script src="MedicalTabs.js"></script>
    <script src="./templateManager.js"></script>
</body>
</html>
