<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Patient</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex flex-col justify-between bg-gray-100">
    <special-header></special-header>

    <div id="title" class="my-1"></div>
    <div class="flex justify-between items-center mt-20">
        <section id="buttons-column" class="flex flex-col items-start font-semibold text-3xl m-10">
            <button class="button flex items-center mb-20"><img src="../assets/img/basic-info-icon.png" alt="Info Icon"
                    class="mr-2"> Basic Info</button>
            <button class="button flex items-center mb-20"><img src="../assets/img/laboratory-icon.png" alt="Flask Icon"
                    class="mr-2"> Laboratory</button>
            <button class="button flex items-center mb-20"><img src="../assets/img/vaccination-icon.png"
                    alt="Syringe Icon" class="mr-2"> Vaccination</button>
            <button class="button flex items-center mb-20"><img src="../assets/img/medical-history-icon.png"
                    alt="Medical File Icon" class="mr-2"> Medical History</button>
            <button class="button flex items-center mb-20"><img src="../assets/img/dental-icon.png" alt="Tooth Icon"
                    class="mr-2"> Dental</button>
        </section>
    </div>
    <div class="flex justify-center items-center h-screen">
        <table class="border-collapse border-2 border-gray-600 bg-blue-900">
            <thead>
                <tr>
                    <th class="border border-gray-600 px-4 py-2">Header 1</th>
                    <th class="border border-gray-600 px-4 py-2">Header 2</th>
                    <th class="border border-gray-600 px-4 py-2">Header 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border border-gray-600 px-4 py-2">Data 1</td>
                    <td class="border border-gray-600 px-4 py-2">Data 2</td>
                    <td class="border border-gray-600 px-4 py-2">Data 3</td>
                </tr>
            </tbody>
        </table>
    </div>

    <special-footer></special-footer>

    <script src="../assets/js/Template.js"></script>
    <script>
        updateTitle('View Patient')
    </script>
</body>

</html>