<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Patient</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex flex-col justify-between bg-blue-100">
    <special-header></special-header>

    <div id="title"></div>
    <div class="flex flex-row items-center mt-10">
        <div class="flex justify-around items-center mr-32">
            <section id="buttons-column" class="flex flex-col items-start font-semibold text-3xl m-10">
                <button class="button flex items-center mb-16 whitespace-nowrap hover:underline">
                    <img src="../assets/img/basic-info-icon.png" alt="Basic Info Icon" class="mr-2">
                    Basic Info
                </button>
                <button class="button flex items-center mb-16 whitespace-nowrap hover:underline">
                    <img src="../assets/img/laboratory-icon.png" alt="Laboratory Icon" class="mr-2">
                    Laboratory
                </button>
                <button class="button flex items-center mb-16 whitespace-nowrap hover:underline">
                    <img src="../assets/img/vaccination-icon.png" alt="Vaccination Icon" class="mr-2">
                    Vaccination
                </button>
                <button class="button flex items-center mb-16 whitespace-nowrap hover:underline">
                    <img src="../assets/img/medical-history-icon.png" alt="Medical History Icon" class="mr-2">
                    Medical History
                </button>
                <button class="button flex items-center mb-16 whitespace-nowrap hover:underline">
                    <img src="../assets/img/dental-icon.png" alt="Dental Icon" class="mr-2">
                    Dental
                </button>
            </section>
        </div>
        <div class="relative bg-gray-100 p-8 rounded-lg shadow-md mr-10 h-tableheight overflow-auto">
            <div class="flex flex-col items-end sticky top-0">
                <button class="flex flex-row bg-blue-900 text-white rounded-lg px-4 py-2 hover:bg-blue-600 
                focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    <img src="../assets/img/edit-icon.png" alt="Edit Icon" class="mr-2">
                    Edit
                </button>
            </div>

            <p class="text-black text-3xl">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt omnis facere consequatur dicta ex,
                aut impedit temporibus corrupti, iusto quis, possimus quisquam! Deserunt culpa placeat eius, aspernatur
                vitae omnis repudiandae?
                Doloremque nam iusto veritatis impedit at ratione sequi placeat debitis aut, quasi nisi distinctio in
                consequatur nihil ipsa deserunt eum! Modi, accusantium. Quibusdam saepe quidem nobis error inventore
                ipsa modi?
                Ullam dolor doloribus voluptatibus assumenda quidem. Quas ipsum temporibus corrupti maiores rerum
                reprehenderit repellat obcaecati sequi sit? Sequi voluptates maiores fugiat sed nemo doloribus, tempore,
                itaque suscipit nulla voluptas iure.
                Recusandae aspernatur sapiente cumque excepturi, corporis ex amet placeat? Eius minus mollitia, earum
                est perferendis optio veritatis minima ipsam impedit repellat deserunt, aliquam corporis ea commodi
                expedita placeat quis debitis!
                Adipisci delectus laudantium pariatur corrupti doloribus amet cumque, eaque ducimus eum rem consequuntur
                accusantium quidem excepturi perferendis repellat! Veritatis tenetur voluptas quibusdam odio dicta
                voluptates aperiam. Aperiam beatae quibusdam labore.
            </p>
        </div>
    </div>

    <special-footer></special-footer>

    <script src="../assets/js/Template.js"></script>
    <script>
        updateTitle('View Patient')
    </script>
</body>

</html>