<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Patient List Page</title>
        <link rel="stylesheet" href="../assets/css/styles.css">
    </head>
    <body>
        <div class="relative bg-cover bg-center w-screen h-screen bg-bgColor">
            <div class="flex justify-between px-8 pt-2"> <!-- header -->
                <h1 class="text-overlay text-3xl font-bold p-5">CEU Health</h1>
                <button href="login" class="flex justify-between align-middle bg-blue-950 text-white rounded-lg py-2 px-8 m-5 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    <img src="../assets/img/user.png" class="h-5 w-5 mx-2">
                    <p class="text-center">Profile</p>
                </button>
            </div>
            <div class="flex px-8 align-middle"> <!-- title -->
                <button class="mx-5 mr-4 pl-1"><img src="../assets/img/realBack.png" class="w-6 h-6"></button>
                <h1 class="px-4 mb-1 text-3xl">View Patient List</h1>
            </div>
            <div>
                <!-- ENTER YOUR CODE HERE!!! -->
            </div>
            
        <footer class="bg-blue-950 text-white py-2 px-8 absolute bottom-0 w-full"> <!-- footer -->
            <div class="container mx-auto">
                <p class="text-center text-xs">Copyright 2023 CEU Healthy</p>
            </div>
        </footer>
    </body>
</html>