<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Patient List Page</title>
        <link rel="stylesheet" href="../assets/css/styles.css">
    </head>
    <body>
        <div>
            <special-header></special-header> <!-- header -->
            <div class="flex px-8 align-middle"> <!-- title -->
                <button class="mx-5 mr-4 pl-3 relative w-12 h-12">
                    <img src="../assets/img/realBack.png" class="w-6 h-6">
                    <span class="absolute inset-0 flex items-center justify-center rounded-full bg-transparent hover:bg-black hover:bg-opacity-25 transition-all">
                    </span>
                  </button>
                <h1 class="px-4 pt-1 text-3xl align-middle">View Patient List</h1>
            </div>
            <div>
                <!-- ENTER YOUR CODE HERE!!! -->
            </div>
            
        
        <script src="./templateManager.js"></script>
    </body>
</html>