<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Single Record(Student)</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <div>
        <special-header></special-header>
        <div class="flex px-8 align-middle"> 
            <button class="mx-5 mr-4 pl-3 relative w-12 h-12">
                <img src="../assets/img/realBack.png" class="w-6 h-6">
                <span class="absolute inset-0 flex items-center justify-center rounded-full bg-transparent hover:bg-black hover:bg-opacity-25 transition-all">
                </span>
              </button>
            <h1 class="px-4 pt-1 text-3xl align-middle font-bold">Add Medical Record (Student)</h1>
        </div>
        <div class="mt-6 order-b border-gray-200 dark:border-neutral-700 shadow-xl">
            <nav class="-mb-0.5  flex justify-evenly shadow-xl space-x-40" aria-label="Tabs" role="tablist">
                <button id="personalInformation" type="button" class="hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-1 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-blue-500 active" id="horizontal-alignment-item-1" data-hs-tab="#horizontal-alignment-1" aria-controls="horizontal-alignment-1" role="tab">
                  Personal Information
                </button>
                <button type="button" class="hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-1 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-blue-500" id="horizontal-alignment-item-2" data-hs-tab="#horizontal-alignment-2" aria-controls="horizontal-alignment-2" role="tab">
                  Laboratory
                </button>
                <button type="button" class="hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-1 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-blue-500" id="horizontal-alignment-item-3" data-hs-tab="#horizontal-alignment-3" aria-controls="horizontal-alignment-3" role="tab">
                  Vaccination
                </button>
                <button type="button" class="hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-1 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-blue-500" id="horizontal-alignment-item-3" data-hs-tab="#horizontal-alignment-3" aria-controls="horizontal-alignment-3" role="tab">
                  Medical History
                </button>
                
              </nav>        
        </div>
              <div class=" justify-self-center mt-4 mr-10 ml-10 w-auto h-auto px-4 py-6 bg-white rounded-lg border-2 border-gray-400">
                <div class=" px-10 py-5 flex justify-between">
                    <h4 class="text-gray-800 text-3xl font-bold mb-4">Vaccination</h4>
                    <button onclick="showResetMessage()" class="bg-blue-950 text-white py-min px-4 rounded-md hover:bg-blue-700 transition-colors flex justify-center items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                      </svg>
                      Reset</button>
                </div>

                <h1 class="block text-gray-700 text-lg mx-10 font-medium mb-2 mt-4">COVID VACCINATION</h1>
                <div class="flex flex-wrap mx-8 space-x-4 mb-2">
                    <div onclick="toggleSelectBorder(this)" class="w-full md:w-72 px-2 mb-4 border border-blue-900 rounded-md">
                        <label for="firstDose" class="block text-gray-700 text-sm font-medium mt-2 ml-2">1st Dose</label>
                        <input name="firstDose" type="text" id="firstDose" class="block w-full h-10 px-2 focus:outline-none focus:border-blue-500" placeholder="Enter Type of COVID-19 Vaccine">
                    </div>
                    <div onclick="toggleSelectBorder(this)" class="w-full md:w-72 px-2 mb-4 border border-blue-900 rounded-md">
                        <label for="color" class="block text-gray-700 text-sm font-medium mt-2 ml-2">Date Given</label>
                        <input name="color" type="date" id="color" class="block w-full h-10 px-2 focus:outline-none focus:border-blue-500" placeholder="Enter Color">
                    </div>
                    <div onclick="toggleSelectBorder(this)" class="w-full md:w-72 px-2 mb-4 border border-blue-900 rounded-md">
                        <label for="secondDose" class="block text-gray-700 text-sm font-medium mt-2 ml-2">2nd Dose</label>
                        <input name="secondDose" type="text" id="secondDose" class="block w-full h-10 px-2 focus:outline-none focus:border-blue-500" placeholder="Enter Type of COVID-19 Vaccine">
                    </div>
                    <div onclick="toggleSelectBorder(this)" class="w-full md:w-72 px-2 mb-4 border border-blue-900 rounded-md">
                        <label for="dateSecondDose" class="block text-gray-700 text-sm font-medium mt-2 ml-2">Date Given</label>
                        <input name="dateSecondDose" type="date" id="dateSecondDose" class="block w-full h-10 px-2 focus:outline-none focus:border-blue-500" placeholder="Enter Color">
                    </div>
                </div>
                <div class="flex flex-wrap gap-6 mx-8 mb-2">
                
                    <button id="addAnotherDose" class="w-64 bg-gray-300 border-2 border-dashed border-gray-500 text-white px-4 py-4 rounded-2xl flex  space-x-2">
                      <img src="../assets/img/plus-symbol-button.png" alt="addbutton" class=" w-6 h-6">
                      <span class="font-medium">Add Another Dose</span>
                    </button>
    
                    
                  </div>

                  <h1 class="block text-gray-700 text-lg mx-10 font-medium mb-2 mt-6">FLU-VACCINATION:</h1>
                  <div class="flex flex-wrap mx-8 space-x-4 mb-2">
                    <div onclick="toggleSelectBorder(this)" class="w-full md:w-72 px-2 mb-4 border border-blue-900 rounded-md">
                        <label for="firstDose" class="block text-gray-700 text-sm font-medium mt-2 ml-2">1st Dose</label>
                        <input name="firstDose" type="text" id="firstDose" class="block w-full h-10 px-2 focus:outline-none focus:border-blue-500" placeholder="Enter Type of Flu-Vaccine">
                    </div>
                    <div onclick="toggleSelectBorder(this)" class="w-full md:w-72 px-2 mb-4 border border-blue-900 rounded-md">
                        <label for="color" class="block text-gray-700 text-sm font-medium mt-2 ml-2">Date Given</label>
                        <input name="color" type="date" id="color" class="block w-full h-10 px-2 focus:outline-none focus:border-blue-500" placeholder="Enter Color">
                    </div>
                    <div class="flex flex-wrap gap-6 h-16 mx-8 mb-2">
                
                        <button id="addAnotherDose" class="w-64 bg-gray-300 border-2 border-dashed border-gray-500 text-white px-4 py-4 rounded-2xl flex items-center  space-x-2">
                          <img src="../assets/img/plus-symbol-button.png" alt="addbutton" class=" w-6 h-6">
                          <span class="font-medium">Add Another Dose</span>
                        </button>
        
                        
                      </div>
                    
                    
                    
                    </div>

                <h1 class="block text-gray-700 text-lg mx-10 font-medium mb-2 mt-4">HEPATITIS B VACCINATION </h1>
                <div class="flex flex-wrap mx-8 space-x-4 mb-2">
                    <div onclick="toggleSelectBorder(this)" class="w-full md:w-72 px-2 mb-4 border border-blue-900 rounded-md">
                        <label for="firstDose" class="block text-gray-700 text-sm font-medium mt-2 ml-2">1st Dose</label>
                        <input name="firstDose" type="text" id="firstDose" class="block w-full h-10 px-2 focus:outline-none focus:border-blue-500" placeholder="Enter Type of COVID-19 Vaccine">
                    </div>
                    <div onclick="toggleSelectBorder(this)" class="w-full md:w-72 px-2 mb-4 border border-blue-900 rounded-md">
                        <label for="color" class="block text-gray-700 text-sm font-medium mt-2 ml-2">Date Given</label>
                        <input name="color" type="date" id="color" class="block w-full h-10 px-2 focus:outline-none focus:border-blue-500" placeholder="Enter Color">
                    </div>
                    <div onclick="toggleSelectBorder(this)" class="w-full md:w-72 px-2 mb-4 border border-blue-900 rounded-md">
                        <label for="secondDose" class="block text-gray-700 text-sm font-medium mt-2 ml-2">2nd Dose</label>
                        <input name="secondDose" type="text" id="secondDose" class="block w-full h-10 px-2 focus:outline-none focus:border-blue-500" placeholder="Enter Type of COVID-19 Vaccine">
                    </div>
                    <div onclick="toggleSelectBorder(this)" class="w-full md:w-72 px-2 mb-4 border border-blue-900 rounded-md">
                        <label for="dateSecondDose" class="block text-gray-700 text-sm font-medium mt-2 ml-2">Date Given</label>
                        <input name="dateSecondDose" type="date" id="dateSecondDose" class="block w-full h-10 px-2 focus:outline-none focus:border-blue-500" placeholder="Enter Color">
                    </div>
                    
                </div>
                <div class="flex flex-wrap gap-4 mx-8 mb-2">
                    <div onclick="toggleSelectBorder(this)" class="w-full md:w-72 px-2  mb-4 border border-blue-900 rounded-md">
                        <label for="secondDose" class="block text-gray-700 text-sm font-medium mt-2 ml-2">3rd Dose</label>
                        <input name="secondDose" type="text" id="secondDose" class="block w-full h-10 px-2 focus:outline-none focus:border-blue-500" placeholder="Enter Type of COVID-19 Vaccine">
                    </div>
                    <div onclick="toggleSelectBorder(this)" class="w-full md:w-72 px-2 mb-4 border border-blue-900 rounded-md">
                        <label for="dateSecondDose" class="block text-gray-700 text-sm font-medium mt-2 ml-2">Date Given</label>
                        <input name="dateSecondDose" type="date" id="dateSecondDose" class="block w-full h-10 px-2 focus:outline-none focus:border-blue-500" placeholder="Enter Color">
                    </div>

                </div>
                <div class="flex flex-wrap gap-6 mx-8 mb-2">
                
                    <button id="addAnotherDose" class="w-64 bg-gray-300 border-2 border-dashed border-gray-500 text-white px-4 py-4 rounded-2xl flex  space-x-2">
                      <img src="../assets/img/plus-symbol-button.png" alt="addbutton" class=" w-6 h-6">
                      <span class="font-medium">Add Another Dose</span>
                    </button>
    
                    
                  </div>


                  <h1 class="block text-gray-700 text-lg mx-10 font-medium mb-2 mt-6">PNEUMONIA VACCINATION</h1>
                  <div class="flex flex-wrap mx-8 space-x-4 mb-2">
                    <div onclick="toggleSelectBorder(this)" class="w-full md:w-72 px-2 mb-4 border border-blue-900 rounded-md">
                        <label for="firstDose" class="block text-gray-700 text-sm font-medium mt-2 ml-2">1st Dose</label>
                        <input name="firstDose" type="text" id="firstDose" class="block w-full h-10 px-2 focus:outline-none focus:border-blue-500" placeholder="Enter Type of Flu-Vaccine">
                    </div>
                    <div onclick="toggleSelectBorder(this)" class="w-full md:w-72 px-2 mb-4 border border-blue-900 rounded-md">
                        <label for="color" class="block text-gray-700 text-sm font-medium mt-2 ml-2">Date Given</label>
                        <input name="color" type="date" id="color" class="block w-full h-10 px-2 focus:outline-none focus:border-blue-500" placeholder="Enter Color">
                    </div>
                    <div class="flex flex-wrap gap-6 h-16 mx-8 mb-2">
                
                        <button id="addAnotherDose" class="w-64 bg-gray-300 border-2 border-dashed border-gray-500 text-white px-4 py-4 rounded-2xl flex items-center  space-x-2">
                          <img src="../assets/img/plus-symbol-button.png" alt="addbutton" class=" w-6 h-6">
                          <span class="font-medium">Add Another Dose</span>
                        </button>
        
                        
                      </div>
                    
                    
                    
                    </div>

                    <h2 class="block text-gray-700 text-base mx-8 font-medium mb-2 mt-2">Upload Laboratory Attachment/s</h2>
                    <div class="flex flex-wrap gap-6 mx-8 mb-2">
                
                        <button id="addFiles" class="w-64 bg-blue-950 text-white px-4 py-4 rounded-2xl flex items-center space-x-2">
                            <img src="../assets/img/plus-symbol-button.png" alt="addbutton" class=" w-6 h-6">
                            <span>Add Files</span>
                        </button>

                
              </div>
                
              </div>

              
            
        </div>

        <div onclick=" hideResetMessage()" id="resetMessage" class="fixed left-0 top-0 bg-black bg-opacity-50 w-screen h-screen justify-center items-center opacity-0 hidden transition-opacity duration-500">
          <div class="bg-blue-950 rounded-lg shadow-md p-8 max-w-md w-full mx-4 md:w-[70%] lg:w-[50%]">
            <h1 class="text-white text-2xl font-semibold">RESET</h1>
            <p class="text-white mt-2 mb-4">Are you sure you want to reset the changes made in this section? Once reset, the action cannot be undone.</p>
            <div class="flex justify-end gap-4">
              <button onclick="hideResetMessage()" class="border border-white rounded-md mx-2 py-2 px-4 md:px-8 text-lg text-white hover:bg-gray-400">Cancel</button>
              <button class="bg-blue-400 rounded-md mx-2 py-2 px-4 md:px-8 text-lg font-medium hover:bg-blue-500">Confirm</button>
            </div>
          </div>
        </div>


        <script>
          function showResetMessage(){
            let resetMessage = document.getElementById('resetMessage')
            resetMessage.classList.remove('hidden')
            resetMessage.classList.add('flex')
            setTimeout(()=>{
              resetMessage.classList.add('opacity-100')
            },20)
    
          }
    
          function hideResetMessage(){
            let resetMessage = document.getElementById('resetMessage')
            resetMessage.classList.add('opacity-0')
            resetMessage.classList.remove('opacity-100')
            setTimeout(()=>{
              resetMessage.classList.add('hidden')
              resetMessage.classList.remove("flex")
            },500)
          }
    
          
        </script>

        <script>
          document.addEventListener('click', function(event) {
            const target = event.target;
        
            
            if (!target.closest('.w-full')) {
              const divsWithBorders = document.querySelectorAll('.w-full');
        
              
              divsWithBorders.forEach((div) => {
                div.classList.remove('border-blue-500');
              })
            }
          })
            
    
          function toggleSelectBorder(element) {
            
            element.classList.toggle('border-blue-500'); // Toggle the border color class
            element.classList.toggle('border-2');
          }
        </script>


        <script src="./templateManager.js"></script>
    
</body>
</html>